

header {
    

    .logo {
        font-weight: 600;
        font-size: 20px;
    }

    nav {
         float: right;

         .cart-wrapper {
            align-items: center;

            span {
                font-size: 21px;
            }

            
         }

         .shop-cart-button{
            cursor: pointer;
            font-size: 18px;
            color: #333;
            transition: all 600ns ease;
            display: inline-block;
            margin-right: 7px;

            &:hover {
                transform: scale(1.1);
                color: red;
                transition: all 600ms ease;
            }



         }


         ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            gap: 25px;
            align-items: center;
            
            a {
                position: relative;
                transition: all 600ms ease;
                padding: 4px 0;  // место для полоски
                transition: all 600ms ease;
                text-decoration: none;
                color: #333;
                display: inline-block;
                
                


                &:hover {
                opacity: 0.5;
                scale: calc(1.1);
                transition: all 600ms ease;

                &:after {
                    content: '';
                    position: absolute;
                    left: -4px;              // выходит слева на 4px за текст
                    right: -4px;             // выходит справа на 4px за текст
                    bottom: 0;
                    height: 2px;             // толщина полоски
                    background: #333;        // цвет полоски
                    transform: scaleX(0);    // изначально скрыта
                    transform-origin: center;
                    transition: all 600ms ease;
                }

                &:hover::after {
                    transform: scaleX(1);    // появляется на всю ширину + выходы
                    transition: all 600ms ease;
                }
                
            }
            }

            
         }
    }

    .presentation {
        margin: 50px 0;
        background: url(/src/assets/bg.jpeg) no-repeat;
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center center;
        background-blend-mode: multiply;
        background-color: #bcbcbc;
        position: relative;

        &::after {
            content: 'Лучшие товары для вашего дома!';
            position: absolute;
            top: 100px;
            left: 50px;
            width: 300px;
            font-size: 40px;
            font-weight: 600;
            color: #fff;
        }

        &::before {
            content: 'По низким ценам!';
            position: absolute;
            top: 250px;
            left: 50px;
            width: 300px;
            font-size: 15px;
            font-weight: 300;
            color: #fff;
        }
    }
    
}

.cart-icon-wrapper {
  position: relative;
}



.mini-cart {
  position: absolute;
  top: 90px;          // прямо под иконкой
  right: 80px;
  width: 250px;
  max-height: 70hv;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 100;
  text-align: center;
  overflow-y: auto;

  
  
}

.mini-cart button {
  margin-top: 10px;
  padding: 8px 16px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 600ms ease;
}

.mini-cart button:hover {
    scale: calc(1.1);
    transition: all 600ms ease;
}

.mini-cart {
    


    .cart-item {

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;

        .cart-item-img {
            width: 40px;
            margin-right: 15px;
    }

    .cart-item-info {
        p {
            margin-top: 5px;
        }
    }

    .cart-delet{
        font-size: 21px;
        cursor: pointer;
        transition: all 600ms ease;

        &:hover {
            scale: calc(1.1);
            color: #f44336;
            transition: all 600ms ease;
        }
    }


    }
        .cart-total {
        margin-top: 18px;
        margin-bottom: 10px;
    }
}